<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="WebService" value="WebService.asmx"/>
    <add key="MaxChatRooms" value="10"/>
    <add key="UserChatRoomSessionTimeout" value="120"/>
    <add key="ChatRoomMaxUsers" value="50"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
     <customErrors mode="Off"/>
     <authentication mode="Windows"/>
    
    <!--
       
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <urlMappings>
      <add url="~/Buffet-Infantil" mappedUrl="~/categoria.aspx?tipo_categoria=1" />
      <add url="~/Buffet-Social" mappedUrl="~/categoria.aspx?tipo_categoria=2" />
      <add url="~/Chacara" mappedUrl="~/categoria.aspx?tipo_categoria=4" />
      <add url="~/Quadra-de-Futebol" mappedUrl="~/categoria.aspx?tipo_categoria=306" />
      <add url="~/Salao-de-Festas" mappedUrl="~/categoria.aspx?tipo_categoria=6" />
      <add url="~/Decoracao-com-Balao" mappedUrl="~/categoria.aspx?tipo_categoria=26" />
      <add url="~/Decoracao-de-Festa" mappedUrl="~/categoria.aspx?tipo_categoria=25" />
      <add url="~/Decoracao-Infantil" mappedUrl="~/categoria.aspx?tipo_categoria=24" />
      <add url="~/Decoracao-Provencal" mappedUrl="~/categoria.aspx?tipo_categoria=212" />
      <add url="~/Designer-de-Eventos" mappedUrl="~/categoria.aspx?tipo_categoria=83" />
      <add url="~/Bolos-Doces-Salgados" mappedUrl="~/categoria.aspx?tipo_categoria=14" />
      <add url="~/Carrinhos-Alimentacao" mappedUrl="~/categoria.aspx?tipo_categoria=77" />
      <add url="~/Churrasco" mappedUrl="~/categoria.aspx?tipo_categoria=44" />
      <add url="~/Coffee-Break-Cafe-Colonial" mappedUrl="~/categoria.aspx?tipo_categoria=66" />
      <add url="~/Crepe-Frances-Panquecas" mappedUrl="~/categoria.aspx?tipo_categoria=59" />
      <add url="~/Cupcakes" mappedUrl="~/categoria.aspx?tipo_categoria=85" />
      <add url="~/Festas-Delivery" mappedUrl="~/categoria.aspx?tipo_categoria=3" />
      <add url="~/Animacao-Recreacao" mappedUrl="~/categoria.aspx?tipo_categoria=7" />
      <add url="~/Banda-Para-Festa-Infantil" mappedUrl="~/categoria.aspx?tipo_categoria=318" />
      <add url="~/Bartender-" mappedUrl="~/categoria.aspx?tipo_categoria=45" />
      <add url="~/Brinquedos" mappedUrl="~/categoria.aspx?tipo_categoria=11" />
      <add url="~/Caricaturas" mappedUrl="~/categoria.aspx?tipo_categoria=55" />
      <add url="~/Contacao-de-Historias" mappedUrl="~/categoria.aspx?tipo_categoria=317" />
      <add url="~/Fantasias" mappedUrl="~/categoria.aspx?tipo_categoria=31" />
      <add url="~/Magicos-e-Palhacos" mappedUrl="~/categoria.aspx?tipo_categoria=63" />
      <add url="~/Maquiagem-Artistica" mappedUrl="~/categoria.aspx?tipo_categoria=319" />
      <add url="~/Personagens-Vivos" mappedUrl="~/categoria.aspx?tipo_categoria=344" />
      <add url="~/Visitas-Papai-Noel" mappedUrl="~/categoria.aspx?tipo_categoria=87" />
      <add url="~/Artigos-para-Festa" mappedUrl="~/categoria.aspx?tipo_categoria=8" />
      <add url="~/Cerimonial" mappedUrl="~/categoria.aspx?tipo_categoria=19" />
      <add url="~/Convites-Lembrancinhas" mappedUrl="~/categoria.aspx?tipo_categoria=22" />
      <add url="~/Fotografia---Filmagem" mappedUrl="~/categoria.aspx?tipo_categoria=33" />
      <add url="~/Garcom" mappedUrl="~/categoria.aspx?tipo_categoria=47" />
      <add url="~/Material-para-Festa" mappedUrl="~/categoria.aspx?tipo_categoria=34" />
      <add url="~/Organizacao-de-Eventos" mappedUrl="~/categoria.aspx?tipo_categoria=35" />
      <add url="~/Som--Iluminacao--Djs" mappedUrl="~/categoria.aspx?tipo_categoria=41" />
      <add url="~/15-Anos" mappedUrl="~/categoria.aspx?tipo_categoria=39" />
      <add url="~/Batizados" mappedUrl="~/categoria.aspx?tipo_categoria=69" />
      <add url="~/Bodas" mappedUrl="~/categoria.aspx?tipo_categoria=68" />
      <add url="~/Casamentos" mappedUrl="~/categoria.aspx?tipo_categoria=15" />
      <add url="~/Confraternizacoes" mappedUrl="~/categoria.aspx?tipo_categoria=67" />
      <add url="~/Especial-Natal" mappedUrl="~/categoria.aspx?tipo_categoria=64" />
      <add url="~/Eventos-Corporativos" mappedUrl="~/categoria.aspx?tipo_categoria=30" />
      <add url="~/Festa-Infantil" mappedUrl="~/categoria.aspx?tipo_categoria=72" />
      <add url="~/Formaturas" mappedUrl="~/categoria.aspx?tipo_categoria=32" />
      <add url="~/Noivados" mappedUrl="~/categoria.aspx?tipo_categoria=70" />
      <add url="~/Cascata-de-Chocolate" mappedUrl="~/categoria.aspx?tipo_categoria=349" />

      <add url="~/Busca" mappedUrl="~/categoria.aspx?busca=$1" />

    </urlMappings>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="*" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler"/>
    </httpHandlers>
    <httpModules>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="AnonymousIdentification"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for                                                                                                                                                                                                                               ning ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>    
  </system.webServer>
</configuration>